<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name"
            icon="icons/view.gif"
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.aup2.views.Aup2View"
            id="org.jcryptool.visual.aup2.views.MainView">
      </view>
   </extension>
   <extension
         point="org.jcryptool.core.operations.visuals">
      <Visual
            name="%Visual.name"
            viewId="org.jcryptool.visual.aup2.views.MainView">
      </Visual>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.jcryptool.visual.aup2.views.MainView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jcryptool.visual.aup2.RestartCommand"
            name="%command.name.0">
      </command>
      <command
            id="org.jcryptool.visual.aup2.HelpCommand"
            name="%command.name.1">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jcryptool.visual.aup2.handlers.RestartHandler"
            commandId="org.jcryptool.visual.aup2.RestartCommand">
      </handler>
      <handler
            class="org.jcryptool.visual.aup2.handlers.HelpHandler"
            commandId="org.jcryptool.visual.aup2.HelpCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.jcryptool.visual.aup2.views.MainView">
         <command
               commandId="org.jcryptool.visual.aup2.RestartCommand"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/new_wiz.gif"
               style="push"
               tooltip="%command.tooltip.0">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.jcryptool.visual.aup2.views.MainView">
         <command
               commandId="org.jcryptool.visual.aup2.HelpCommand"
               icon="platform:/plugin/org.eclipse.help.ui/icons/view16/help_view.gif"
               style="push"
               tooltip="%command.tooltip.1">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/help/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/contexts.xml">
      </contexts>
   </extension>

</plugin>
